.chatti-container {
    /* width: 250px; */
    width: 100%;
    /* position:fixed;
    bottom:0;
    left:0; */
    /* box-shadow: 10px 10px 25px -13px rgba(0,0,0,0.7); */
  
    /* border: 1px solid black; */
    /* background:black; */
    /* height: 260px; */
    padding-top: 20px;
    /* background:  */
    padding-bottom: 20px;
  }
  
  .chatti-content {
    height: 150px;
    /* height: calc(100% - 40px); */
    background: white;
    flex:1;
    width: 100%;
    padding: 0em 0.0em 0em 0em;
    overflow: auto;
    border: 1px solid #dedede;
    border-bottom: 0px;
    /* margin-bottom: 10px; */
  }
  
  .chatti-msgwrap {
    clear: both;
    margin: 5px 10px 5px 5px;
  }
    
  .chatti-msgwrap.right{
    float:right;
  }